.btn {
    border-radius: 5px;
    padding: 5px;
}

.btn:hover {
    cursor: pointer;
}

.btn_primary {
    background: #34ace0;
    color: #2d3436;
    border: 1px solid #706fd3;
}

.btn_primary:hover {
    background: #227093;
    color: #dfe6e9;
}

.btn_danger {
    background: #d63031;
    color: #dfe6e9;
}

.btn_danger:hover {
    background: #b33939;
}

.btn_small {
    width: 64px;
    font-size: 14px;
}

.btn_large {
    width: 94px;
    font-size: 24px;
}